<div class="loginBox">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="input-group col-xs-12 col-md-12 col-lg-12">
      <label for="userName">Username</label>
      <input type="text" id="userName" formControlName="userName" class="form-control">
    </div>

    <div class="input-group col-xs-12 col-md-12 col-lg-12">
      <label for="password">Password</label>
      <input type="text" id="password" formControlName="password" class="form-control">
    </div>
    <div class="row button-block">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <button type="submit" class="btn btn-primary loginBtn">Login</button>
      </div>
    </div>
  </form>
</div>
