<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img class="eventImage" src="{{event.eventImageUrl}}">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h1>{{event.eventName}}</h1>
        <h3>{{event.artist}}</h3>
        <p>{{event.eventDate}} - {{event.eventTime}}</p>
        <p>{{event.location}}</p>
        <p>Tickets left: {{event.noOfTickets - event.ticket.length}}</p>
        <p>{{event.ticketTypes[0].ticketType}}</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ticketSelector">
        <form class="form-group" [formGroup]="ticketForm">
          <fieldset>
            <section class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Ticket type:</label>
            </section>
            <section class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <label for="ticketType" class="select">
                <select name="ticketType" id="ticketType" formControlName="ticketType" (change)="optionChosen()">
                  <option disabled selected [value]="null">Choose ticket</option>
                  <option *ngFor="let type of ticketTypeArray" [ngValue]="type">{{type.ticketType}}, Price: €{{type.price}}</option>
                </select>
              </label>
            </section>
            <section class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Amount:</label>
            </section>
            <section class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <label for="ticketAmount" class="select">
                <select name="ticketAmount" id="ticketAmount" formControlName="ticketAmount" (change)="optionChosen()">
                  <option disabled selected [value]="null">Choose amount</option>
                  <option *ngFor="let amount of amountArray" value="{{amount}}">{{amount}}</option>
                </select>
              </label>
            </section>
            <section class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <label>Total cost:</label>
            </section>
            <section class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <p>€{{currentPrice}}</p>
            </section>
            <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-primary" (click)="getTicket()">Get Tickets!</button>
            </section>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Also coming</h2>
        <!--<ul class="userList">-->
          <!--<li class="users"><app-attending-user-item class="user" *ngFor="let user of userArray" [user]="user"></app-attending-user-item></li>-->
        <!--</ul>-->
      </div>
      <div class="list-inline col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <app-attending-user-item class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let user of userArray" [user]="user"></app-attending-user-item>
      </div>
    </div>
  </div>
</div>

