<div class="col-xs-12 col-md-12 col-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 eventImage">
        <img src="{{event.eventImageUrl}}">
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <h1>{{event.eventName}}</h1>
        <h3>{{event.artist}}</h3>
        <p>{{event.eventDate}} - {{event.eventTime}}</p>
        <p>{{event.location}}</p>
        <p>Tickets left: {{event.noOfTickets - event.ticket.length}}</p>
        <p>{{event.ticketTypes[0].ticketType}}</p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul>
          <li class="dropdown" [ngClass]="{'open': ticketList === true}">
            <button type="button" class="dropdown-toggle btn btn-primary ticketListBtn" (click)="toggleTicketList()">Choose your ticket <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li *ngFor="let type of ticketTypeArray" [type]="type"><a>{{type.ticketType}} Price: €{{type.price}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-12 col-lg-12">
        <button class="btn btn-primary" (click)="getTicket()">Get Ticket!</button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 col-lg-8">
        <h2>Also coming</h2>
      </div>
    </div>
  </div>
</div>

