.eventImage {
  width: 100%;
  height: auto;
  text-align: center;
}

button {
  width:100%;
  height: auto;
}

li {
  list-style: none;
  cursor: pointer;
}

.ticketListBtn {
  width: 100%;
}

.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

.ticketSelector {
  margin-top: 20px;
}

select {
  border: 1px solid lightgray;
}

.userList{
  list-style-type: none;
  overflow: hidden;
}

.users {
  /*float: left;*/
  display: inline;
  text-align: center;
}
