<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col md-12 col-lg-12" style="margin-bottom: 10px;">
      <div class="col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 editBox">
        <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
          <h1>Create event</h1>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="form-group">
                <label for="eventName">Eventname:</label>
                <input type="text" id="eventName" formControlName="eventName" class="form-control form-rounded">
              </div>
              <div class="form-group">
                <label for="artist">Artist:</label>
                <input type="text" id="artist" formControlName="artist" class="form-control form-rounded">
              </div>
              <div class="form-group">
                <label for="eventDate">Date:</label>
                <input type="date" id="eventDate" formControlName="eventDate" class="form-control form-rounded">
              </div>
              <div class="form-group">
                <label for="eventTime">Time:</label>
                <input type="time" id="eventTime" formControlName="eventTime" class="form-control form-rounded">
              </div>
              <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" formControlName="location" class="form-control form-rounded">
              </div>
              <div class="form-group">
                <label for="noOfTickets">Total tickets to sell:</label>
                <input type="number" id="noOfTickets" formControlName="noOfTickets" class="form-control form-rounded">
              </div>
              <div class="form-group">
                <label for="eventImage">Pick an image:</label>
                <input type="file" id="eventImage" formControlName="eventImage" class="form-control form-rounded" (change)="onImageSelected($event)">
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" formArrayName="ticketTypes">
                <div class="row" *ngFor="let ticket of createEventForm['controls'].ticketTypes['controls']; let i = index" [formGroupName]="i">
                  <div class="col-xs-12">
                    <label for="ticketType">Type of ticket:</label>
                    <input type="text" id="ticketType" formControlName="ticketType" class="form-control form-rounded">
                  </div>
                  <div class="col-xs-12">
                    <label for="price">Price:</label>
                    <input type="number" id="price" formControlName="price" class="form-control form-rouned">
                  </div>
                </div>
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <button type="button" class="btn btn-success" (click)="onAddTicketType()">Add ticket</button>
                </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <button type="submit" class="btn btn-primary">Create event</button>
                  <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3 col-lg-3"></div>
    </div>
  </div>
</div>
