<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
        <h1>Edit account</h1>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="userName">Username</label>
              <input type="text" id="userName" formControlName="userName" class="form-control form-rounded" disabled>
            </div>
            <div class="form-group">
              <label for="firstName">First name:</label>
              <input type="text" id="firstName" formControlName="firstName" class="form-control form-rounded">
            </div>
            <div class="form-group">
              <label for="middleName">Middle name:</label>
              <input type="text" id="middleName" formControlName="middleName" class="form-control form-rounded">
            </div>
            <div class="form-group">
              <label for="lastName">Last name:</label>
              <input type="text" id="lastName" formControlName="lastName" class="form-control form-rounded">
            </div>
            <div class="form-group">
              <label for="age">Age:</label>
              <input type="number" id="age" formControlName="age" class="form-control form-rounded">
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" formControlName="email" class="form-control form-rounded">
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <button type="submit" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
